body {
    background-color: $clr-gray-bg;
}

.main-hero-images {
    img {
        width: 300px;
    }
}

.see-more-products-btn,
.see-products-btn  {
    @include see-products-btn;
}

.newsletter {

   

    &-email {
        height: 33px;
        background-color: $clr-gray-bg;
        border: none;
    }
}

.newsletter-btn {
    @include newsletter-btn;
}