.featured-products {
    @include columns-padding;
    padding-top: $spacing-sections-x-medium;
    text-align: center;
    background-color: $clr-white-color;

    &-title {
        margin-bottom: $spacing-sections-x-small;
    }
}